@import "tailwindcss";


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@layer utilities {
  @keyframes floating {
    0%, 100% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(-10px) rotate(1deg);
    }
  }

  .animate-floating {
    animation: floating 6s ease-in-out infinite;
  }
}